

# **Variables**

In [ ]:
x = 10

In [ ]:
print(x)

zxc

In [ ]:
x = 'zxc'

In [ ]:
asdf = 1
ASDF = 2

print(asdf)
print(ASDF)

1
2

In [ ]:
x1 = 1

print(x1)

1

In [ ]:
_x1_ = 2

print(_x1_)

2

In [ ]:
_ = 10

print(_)

10



# **Tipos de error**

*   Alfabeto
*   Léxico
*   Sintaxis
*   Semántica



# **Funciones**

In [ ]:
print("Hola!")

Hola!

In [ ]:
print(10)

10

In [ ]:
x = 10
print(x)

10

In [ ]:
max(10, 100)

100

In [ ]:
min(10, 100)

10

In [ ]:
print("Hola", "¿Cómo estas?", sep=", ", end=".")
print("Sale y vale")

Hola, ¿Cómo estas?.Sale y vale



# **Strings**

In [ ]:
x = "Hola"
y = "Mundo"

print(x, y)
print("Hola", y)
print(x, "Mundo")

Hola Mundo
Hola Mundo
Hola Mundo

In [ ]:
print("Hola")
print('Hola')
print("""Hola""")
print('''Hola''')

Hola
Hola
Hola
Hola

In [ ]:
print('''Me llamo "Jezrrel", Mc'Money''')

Me llamo "Jezrrel", Mc'Money

In [ ]:
print("Hola.\n¿Cómo estas?")

Hola.
¿Cómo estas?

In [ ]:
print('''Hola.
¿Cómo estas?''')

Hola.
¿Cómo estas?

# **String Slicing**

In [ ]:
message = "Hola mundo!"

print(message)
print(message[0])
print(message[3])
print(message[6])

Hola mundo!
H
a
u

In [ ]:
print(message[-1])

!

In [ ]:
print(message[:9])
print(message[2:])

Hola mund
la mundo!

In [ ]:
print(message[2:9:2])

l ud

In [ ]:
print(message[::-1])

!odnum aloH

# **String Methods**

In [ ]:
message = "Hola Mundo!"

x = message.lower()

print(x)

hola mundo!

In [ ]:
x = message.upper()

print(x)

HOLA MUNDO!

In [ ]:
print(message.count("o"))

2

In [ ]:
new_message = message.replace("Hola", "Hello")

print(new_message)

Hello Mundo!

In [ ]:
nombre = "Jezrrel"
edad = 23

temp = "Hola mi nombre es {}, tengo {} años."

print(temp.format(nombre, edad))

# print("Hola mi nombre es {}, tengo {} años.".format(nombre, edad))

Hola mi nombre es Jezrrel, tengo 23 años.

# **Enteros y Flotantes**

In [ ]:
x = 1

print(type(x))
print(x)

<class 'int'>
1

In [ ]:
x = 1.0

print(type(x))
print(x)

<class 'float'>
1.0

In [ ]:
x = 0.99 + 0.01

print(type(x))
print(x)

<class 'float'>
1.0

In [ ]:
x = 10 + 1.5

print(type(x))
print(x)

<class 'float'>
11.5

# **Operadores Aritméticos**



+ Addition
- Substraction
* Multiplitation
/ Division

In [ ]:
print(2 + 3)
print(2.0 + 3)
print(2 + 3.0)
print(2.0 + 3.0)

5
5.0
5.0
5.0

In [ ]:
print(2 - 3)
print(2.0 - 3)
print(2 - 3.0)
print(2.0 - 3.0)

-1
-1.0
-1.0
-1.0

In [ ]:
print(2 * 3)
print(2.0 * 3)
print(2 * 3.0)
print(2.0 * 3.0)

6
6.0
6.0
6.0

In [ ]:
print(2 / 3)
print(2.0 / 3)
print(2 / 3.0)
print(2.0 / 3.0)

0.6666666666666666
0.6666666666666666
0.6666666666666666
0.6666666666666666

In [ ]:
print(5 // 3)
print(5.0 // 3)
print(5 // 3.0)
print(5.0 // 3.0)

1
1.0
1.0
1.0

In [ ]:
print(2 ** 3)
print(2.0 ** 3)
print(2 ** 3.0)
print(2.0 ** 3.0)

8
8.0
8.0
8.0

In [ ]:
print(4 % 3)
print(8.0 % 3)
print(8 % 3.0)
print(8.0 % 3.0)

1
2.0
2.0
2.0

In [ ]:
x = 123456

print(x % 2)

0

In [ ]:
x = 12345

print(x % 2)

1

# **Booleanos**

In [ ]:
True
False

# **Operadores de Comparación**

In [ ]:
print(10 == 10)

True

In [ ]:
print(10 == 5)

False

In [ ]:
print(10 == '10')

False

In [ ]:
print(10 == 10.0)

print(10 is 10.0)

True
False

In [ ]:
print(10 != 10.0)

False

In [ ]:
print(10 > 10.0)
print(10 > 5)
print(10 > 15)

False
True
False

In [ ]:
print(10 < 10.0)
print(10 < 5)
print(10 < 15)

False
False
True

In [ ]:
print(10 >= 10.0)
print(10 >= 5)
print(10 >= 15)

True
True
False

In [ ]:
print(10 <= 10.0)
print(10 <= 5)
print(10 <= 15)

True
False
True

# **Operadores Lógicos**

In [ ]:
print(10 == 10)
print(True)

True
True

In [ ]:
print(True and True)
print(False and True)
print(True and False)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(False or True)
print(True or False)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print(not False)

False
True

# **Aritmética de Strings**

In [ ]:
word1 = "Hola"
word2 = "mundo!"

result = word1 + word2

print(result)

Holamundo!

In [ ]:
word1 = "Hola"
word2 = "mundo!"

result = word1 == word2

print(result)

False

In [ ]:
word1 = "Hola"
word2 = "Hola"

result = word1 == word2

print(result)

True

In [ ]:
word = "Hola"

resultado = word * 5

print(resultado)

HolaHolaHolaHolaHola

In [ ]:
num1 = "100"
num2 = "200"

print(num1 + num2)

100200

In [ ]:
print("100" == 100)

False

In [ ]:
num1 = "100"
num2 = "200"

num1 = int(num1)
num2 = int(num2)

print(num1 + num2)

300

In [ ]:
x = 1

x = x + 1

print(x)

2

# **Listas y Tuplas**

In [ ]:
courses = [1, 2, 3]

print(courses)

[1, 2, 3]

In [ ]:
courses = [1, 1.0, "1", True]

print(courses)

[1, 1.0, '1', True]

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]

print(courses[0:2])
print(courses[2:4])

['Hola', 'mundo']
['estoy', 'programando']
Python

In [ ]:
courses2 = courses[0:2]

print(courses2)

['Hola', 'mundo']

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]

print(courses)

courses[0] = "Hello"

print(courses)

['Hola', 'mundo', 'estoy', 'programando', 'Python']
['Hello', 'mundo', 'estoy', 'programando', 'Python']

In [ ]:
courses_str = "Python"
print(courses_str[0])

P

In [ ]:
lista = [1, 2, 3, 4, 5]

print(lista)

lista[0] = 6

print(lista)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [ ]:
multiples = [1, 2, 3, ["1", "2", "3"], [True, False, True]]

print(multiples)

[1, 2, 3, ['1', '2', '3'], [True, False, True]]

# **Métodos de Listas**

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]

print(courses)

courses.append("3")

print(courses)

['Hola', 'mundo', 'estoy', 'programando', 'Python']
['Hola', 'mundo', 'estoy', 'programando', 'Python', '3']

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]
courses2 = ["es", "muy", "interesante", "y", "entretenido"]

courses.append(courses2)

print(courses)

['Hola', 'mundo', 'estoy', 'programando', 'Python', ['es', 'muy', 'interesante', 'y', 'entretenido']]

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]
courses2 = ["es", "muy", "interesante", "y", "entretenido"]

resultado = courses + courses2

print(resultado)

['Hola', 'mundo', 'estoy', 'programando', 'Python', 'es', 'muy', 'interesante', 'y', 'entretenido']

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]

courses.remove("estoy")

print(courses)

['Hola', 'mundo', 'programando', 'Python']

In [ ]:
courses = ["Hola", "mundo", "estoy", "programando", "Python"]

popped = courses.pop(3)

print(courses)
print(popped)

['Hola', 'mundo', 'estoy', 'Python']
programando

In [ ]:
courses = ["b", "c", "d", "a"]

courses.sort()

print(courses)

['a', 'b', 'c', 'd']

In [ ]:
courses = ["3", "4", "2", "1"]

courses.sort()

print(courses)

['1', '2', '3', '4']

In [ ]:
courses = ["3", "4", "2", "1"]

courses.sort(reverse = True)

print(courses)

['4', '3', '2', '1']

# **Sorted vs Sort**

In [ ]:
courses = ["3", "4", "2", "1"]


sorted = sorted(courses)
courses.sort()

print(sorted)
print(courses)

TypeError: ignored

# **Más detalles de la Lista**

In [ ]:
courses = ["1", "2", "3", "4"]

print(", ".join(courses))
print(" - ".join(courses))
print("abc".join(courses))

1, 2, 3, 4
1 - 2 - 3 - 4
1abc2abc3abc4
['1', '2', '3', '4']

# **Mutable vs Inmutable**

In [ ]:
courses = ["Python", "Math", "Science"]
courses2 = courses

print("Courses:\n", courses)

print("Courses 2:\n", courses2)

Courses:
 ['Python', 'Math', 'Science']
Courses 2:
 ['Python', 'Math', 'Science']

In [ ]:
courses[0] = "Art"

print("Courses:\n", courses)

print("Courses 2:\n", courses2)

Courses:
 ['Art', 'Math', 'Science']
Courses 2:
 ['Art', 'Math', 'Science']

In [ ]:
courses = ["Python", "Math", "Science"]
courses2 = courses

courses2[0] = "History"

print("Courses:\n", courses)

print("Courses 2:\n", courses2)

Courses:
 ['History', 'Math', 'Science']
Courses 2:
 ['History', 'Math', 'Science']

In [ ]:
courses = ["Python", "Math", "Science"]
courses2 = courses.copy()

print("Courses:\n", courses)

print("Courses 2:\n", courses2)

courses2[0] = "History"

print("Courses:\n", courses)

print("Courses 2:\n", courses2)

Courses:
 ['Python', 'Math', 'Science']
Courses 2:
 ['Python', 'Math', 'Science']
Courses:
 ['Python', 'Math', 'Science']
Courses 2:
 ['History', 'Math', 'Science']

In [ ]:
x = [max, min]

x[0](1,2)
x[1](1,2)

1

In [ ]:
courses = ["History", "Math", "Python"]
courses2 = courses

print("Courses:\n", courses)
print("Courses 2:\n", courses2)

print("courses is courses2:\n", courses is courses2)

Courses:
 ['History', 'Math', 'Python']
Courses 2:
 ['History', 'Math', 'Python']
courses is courses2:
 True

In [ ]:
courses = ["History", "Math", "Python"]
courses2 = courses.copy()

print("Courses:\n", courses)
print("Courses 2:\n", courses2)

print("courses is courses2:\n", courses is courses2)

Courses:
 ['History', 'Math', 'Python']
Courses 2:
 ['History', 'Math', 'Python']
courses is courses2:
 False

In [ ]:
deep_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

deep_list2 = deep_list.copy()

print("Deep List:\n", deep_list)

print("Deep List 2:\n", deep_list2)


print("Deep List is Deep List 2:\n", deep_list is deep_list2)

print("Deep List[0] is Deep List 2[0]:\n", deep_list[0] is deep_list2[0])

Deep List:
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Deep List 2:
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Deep List is Deep List 2:
 False
Deep List[0] is Deep List 2[0]:
 True

In [ ]:
deep_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
deep_list2 = deep_list.copy()

deep_list[0][2] = "qwerty"

print("Deep List:\n", deep_list)

print("Deep List 2:\n", deep_list2)

Deep List:
 [[1, 2, 'qwerty'], [4, 5, 6], [7, 8, 9]]
Deep List 2:
 [[1, 2, 'qwerty'], [4, 5, 6], [7, 8, 9]]

In [ ]:
deep_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
deep_list2 = [val.copy() for val in deep_list]

print("Deep List:\n", deep_list)

print("Deep List 2:\n", deep_list2)

print("Deep List is Deep List 2:\n", deep_list is deep_list2)

print("Deep List[0] is Deep List 2[0]:\n", deep_list[0] is deep_list2[0])

Deep List:
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Deep List 2:
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Deep List is Deep List 2:
 False
Deep List[0] is Deep List 2[0]:
 False

In [ ]:
x = 1
y = x
x = 2

print(x)
print(y)

2
1

In [ ]:
x = [1, 2, 3]
y = x
y = [3, 2, 3]

print(x)

# **Tuplas**

In [ ]:
courses_tuple = ("History", "Math", "Physics", "Computer Science")
print(courses_tuple)
print(type(courses_tuple))

print(courses_tuple[0])

('History', 'Math', 'Physics', 'Computer Science')
<class 'tuple'>
History

In [ ]:
new_tuple = courses_tuple + ("Art, ")
print(new_tuple)

TypeError: ignored

In [ ]:
x = "Python"

print("C" + x[1:])

Cython

# **Condicionales**

In [ ]:
if True:
  print("La condición es verdadera")

  x = 30
  print(x)

print("Hello")

La condición es verdadera
30
Hello

In [ ]:
x = 34

if x % 2 == 0:
  print("Par")
else:
  print("Impar")

Par

In [ ]:
x = 5
y = 2

if x > y:
  print("x es mayor a y")
else:
  print("y es mayor a x")

x es mayor a y

In [ ]:
x = 5
y = 5

if x > y:
  print("x es mayor a y")
elif x == y:
  print("x es igual a y")
else:
  print("y es mayor a x")

x es igual a y

In [ ]:
x = 100
y = 100
z = 1000

if z > x:
  print("Primero")
elif x == y:
  print("Segundo")
else:
  print("Tercero")

Primero

# **Loops**

In [ ]:
print("a")
print("b")
print("c")
print("d")
print("e")

a
b
c
d
e

In [ ]:
letters = ["a", "b", "c", "d", "e"]

print(letters[0])
print(letters[1])
print(letters[2])
print(letters[3])
print(letters[4])

a
b
c
d
e

In [ ]:
letters = ["a", "b", "c", "d", "e"]

for i in letters:
  print(i)

a
b
c
d
e

In [ ]:
letters = [97, 98, 99, 100, 101]

for i in letters:
  print(chr(i))

letters = ["a", "b", "c", "d", "e"]

for i in letters:
  print(ord(i))

a
b
c
d
e
97
98
99
100
101

In [ ]:
letters = ["a", "b", "c", "d", "e"]

for i in letters:
  print(i)

<built-in method upper of str object at 0x7f73e38ff6b0>
<built-in method upper of str object at 0x7f73e38d4b70>
<built-in method upper of str object at 0x7f73e38c31b0>
<built-in method upper of str object at 0x7f73e38aa1b0>
<built-in method upper of str object at 0x7f73e38984b0>

In [ ]:
letters = ["a", "b", "c", "d", "e"]
nums = [1, 2, 3, 4, 5]

for letter in letters:
  for num in nums:
    print(letter, num)

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [ ]:
while True:
  print("Hello")
  break
  print("End")

Hello

In [ ]:
x = 0

while x <= 5:
  print(x)
  x += 1
print("End")

0
1
2
3
4
5
End

In [ ]:
x = 1

while True:
  x += 1
  if x > 5:
    break
  print(x)

2
3
4
5

In [ ]:
while True:
  x = input()
  if x == "queso":
    print("Encontraste la palabra secreta")
    break

quesito
quesote
quesitito
queso
Encontraste la palabra secreta

# **Diccionarios**

In [ ]:
x = ["a", "b", "c"]

print(x[0])

a

In [ ]:
y = {"d": "a", "e": "b", "f": "c"}

print(y["d"])

a

In [ ]:
y = {"d": "a", "e": "b", "f": "c"}

y["d"] = "A"
print(y)

{'d': 'A', 'e': 'b', 'f': 'c'}

In [ ]:
precios = {"Papa": 30, "Queso": 50, "Jamon": 15}

print(precios)

precios["Papa"] = 500

print(precios)

{'Papa': 30, 'Queso': 50, 'Jamon': 15}
{'Papa': 500, 'Queso': 50, 'Jamon': 15}

In [ ]:
x = "Me encanta aprender python"

print(x[:2])

Me

In [ ]:
x = [3, 2, 1]

y = sorted(x)
print(x)
print(y)

[3, 2, 1]
[1, 2, 3]